#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_GB]=
Comment=
Comment[en_US]=
Exec=Apex Arch Installer.bin
GenericName[en_GB]=
GenericName=Apex Arch Installer
GenericName[en_US]=Apex Arch Installer
Icon=customdistro
MimeType=
Name[en_GB]=Apex Arch Installer
Name=Apex Arch Installer
Name[en_US]=Apex Arch Installer
Path=/usr/bin
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility;
